:root {
  --header-text: #fff;
  --bg-color: #2b26bc;
  --hero-color: #000;
  --main-bg: linear-gradient(135deg, #8b8dec 0%, #9599e2 100%);
}
.light {
  --header-text: #2b26bc;
  --bg-color: #fff;
  --hero-color: #fff;
  --main-bg: linear-gradient(0deg, #fff5ff 0%, #ebebeb 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: var(--header-text);
}

main {
  flex-grow: 1;
  background-color: #8ec5fc;
  background-color: #8bc6ec;
  background-color: #8b8dec;
  background-image: var(--main-bg);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 95%;
  margin-inline: auto;
  padding-inline: 20px;
}

header,
footer {
  background: var(--bg-color);
  padding: 30px;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.hero__container {
  text-align: center;
  margin-top: 50px;
}
.hero__container h1 {
  margin-bottom: 20px;
  color: var(--header-color);
}
.form {
  width: 500px;
  display: inline-flex;
  border: 2px solid var(--bg-color);
  padding: 5px 10px;
  border-radius: 8px;
  transition: box-shadow 0.3s;
  background: #fff;
}
.form:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 19px 38px, rgba(0, 0, 0, 0.1) 0px 15px 12px;
  border: 3px solid var(--bg-color);
}
.form:active {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.inputText {
  border: none;
  outline: none;
  margin-right: auto;
  font-size: 18px;

  color: #2b26bc;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #7474bf 0%,
    #348ac7 51%,
    #7474bf 100%
  );
  padding: 10px 15px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  cursor: pointer;
}

.btn-grad:hover {
  background-position: right center;
  text-decoration: none;
}

.btn-grad-2 {
  background-image: linear-gradient(
    to right,
    #457fca 0%,
    #5691c8 51%,
    #457fca 100%
  );
  padding: 15px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  cursor: pointer;
}

.btn-grad-2:hover {
  background-position: right center;
  text-decoration: none;
}
#darkImg {
  transition: 0.5s;
}
#darkImg:hover {
  transform: rotateX(360deg);
}
.list-item {
  width: 500px;
  padding: 15px 30px;
  background: var(--bg-color);
  border-radius: 8px;
  margin-inline: auto;
  margin-top: 20px;
}
